# Topic 01: Getting Started with Data Science

## Setting Up Your Environment

### New Terms:
- Anaconda: package management
- Git: a version-control system for tracking changes and coordinating code 
- Jupyter Notebook/ `.ipynb` files
- Python/ `.py` files
- Virtual Environment

### Common Errors and Fixes:
- `conda config --set restore_free_channel true` before creating the environment if you have conflicts
- activating Bash: `conda init bash`
- Graphviz: open up `environment.yml` or `windows.yml` (depending on your OS and delete the line with `python graphviz`

### Notebook Extensions

- https://towardsdatascience.com/jupyter-notebook-extensions-517fa69d2231

## Python 101

#### Data Types:
- Strings
- Numerics
- Booleans
- Variables

#### Collections:
- Lists
- Dictionaries
- Sets
- Tuples

#### Logic Flows
- if/elif/else
- https://www.hackerrank.com/challenges/py-if-else/problem

### Strings & String Methods
https://www.w3schools.com/python/python_ref_string.asp

We're going to practice reading documentation and apply some string methods!

In [1]:
'welcome'

'welcome'

In [2]:
'Welcome to Flatiron School!'.replace('o', 'x', 2)

'Welcxme tx Flatiron School!'

### Numbers and Math
The main numeric datatypes are `int` and `float`, and you can perform math operations!

In [3]:
type(5.0+6)

float

In [4]:
1 + 5

6

In [5]:
8 % 3 # modulo (%) gives you the remainder

2

In [6]:
16 // 3 # double slash gives you the quotient (floor division)

5

### Booleans / Logic
True/False, and/or, not

In [7]:
True and True

True

In [12]:
not (isit and False)

True

In [9]:
True or False

True

In [10]:
not True

False

### Variables
You can assign anything to a variable!

In [13]:
five = 7
eighthalf = 8.5
words = 'Here are some words!'
isit = False

In [14]:
five + eighthalf

15.5

In [15]:
words.split()

['Here', 'are', 'some', 'words!']

In [16]:
not isit

True

### Lists
A collection of data
- Ordered
- Mutable

In [17]:
my_list = [0, 1, 2, 3, 4, 5, 'hello', True]

In [18]:
my_list[3]

3

In [19]:
my_list.append(8) # destructive
my_list

[0, 1, 2, 3, 4, 5, 'hello', True, 8]

In [20]:
my_list + [9, 10]
my_list

[0, 1, 2, 3, 4, 5, 'hello', True, 8]

In [26]:
my_list.extend([8]) # destructive
my_list

[0, 1, 2, 3, 4, 5, 'hello', True, 8, 8]

In [27]:
my_list

[0, 1, 2, 3, 4, 5, 'hello', True, 8, 8]

In [28]:
for t in my_list:
    print(t)

0
1
2
3
4
5
hello
True
8
8

In [29]:
list(range(len(my_list)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
for i in range(len(my_list)):
    print(my_list[i])

0
1
2
3
4
5
hello
True
8
8

### Dictionaries

- Key-value pairs
- Unordered
- Mutable

In [31]:
my_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

### dict vs dict.items()

In [32]:
my_dict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [33]:
my_dict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [34]:
print(type(my_dict))

<class 'dict'>

In [35]:
print(type(my_dict.items()))

<class 'dict_items'>

In [36]:
list(my_dict)

['brand', 'model', 'year']

In [37]:
for i in my_dict:
    print(i)

brand
model
year

In [38]:
for i in my_dict.items():
    print(i)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [39]:
for i in my_dict.items():
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [40]:
newdict = {}

In [41]:
newdict2 = {}

In [42]:
# i is a tuple
for i in my_dict.items():
    newdict[i[0]] = i[1]
print(newdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [43]:
for i in my_dict.items():
    newdict.update(i)
print(newdict)

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [44]:
for k, v in my_dict.items():
    newdict2[k] = v
print(newdict2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [45]:
for i in range(len(my_dict.items())):
    print(i)

0
1
2

### dict.keys() & dict.values()

In [46]:
my_dict.keys()

dict_keys(['brand', 'model', 'year'])

In [47]:
my_dict.values()

dict_values(['Ford', 'Mustang', 1964])

In [48]:
type(my_dict.keys())

dict_keys

In [49]:
type(my_dict.values())

dict_values

In [50]:
for i in my_dict.keys():
    print(i)

brand
model
year

In [51]:
for i in my_dict.values():
    print(i)

Ford
Mustang
1964

In [52]:
list(my_dict.keys())[0]

'brand'

### Sets
- Just like dictionaries but not paired
- Values are unique!

### Tuples
- Immutable!!
- Ordered

In [53]:
my_set = {1, 2, 3, 3, 4}
my_set

{1, 2, 3, 4}

In [54]:
my_tuple = (1, 2, 3)

In [55]:
my_tuple[1] = 4

TypeError: 'tuple' object does not support item assignment

### Control Flows

Print out the elements of my_list that are integers.

In [56]:
my_list

[0, 1, 2, 3, 4, 5, 'hello', True, 8, 8]

In [58]:
for element in my_list:
    if type(element) == int:
        print(element)

0
1
2
3
4
5
8
8